<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<title>AccountingList</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script>
	$(function() {
		$("#tbAccountingNote").tablepage($("#table_page"), 10); //記得改為10
	});
</script>
</head>
<body>
	<div layout:fragment="content">
		<h2>流水帳管理</h2>
		<form method="post" action="#"
			th:action="@{|AccountingList?id=${session.LoginState.getId()}|}"
			id="form1">
			<table>
				<tr>
					<td>流水帳紀錄 <svg xmlns="http://www.w3.org/2000/svg" width="16"
							height="16" fill="currentColor" class="bi bi-caret-right-fill"
							viewBox="0 0 16 16">
  <path
								d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
  </svg> 流水帳分類管理
					</td>
				</tr>
				<tr>
					<td><input type="button" class="btn btn-outline-dark"
						name="btnAdd" value="Add" id="btnAdd"
						th:onclick="'window.location.href = \'' + @{/AccountingPages/AccountingDetail(id=${session.LoginState.getUserID()},accid=${''})} + '\''" />
						&nbsp;&nbsp; <input type="submit" class="btn btn-outline-dark"
						name="btnDel" value="Del" id="btnDel"
						onclick="return confirm('您確定嗎?')" />&emsp; &nbsp;&ensp;
					<!--顯示小計 -->
					</br><a>總金額：[[${subtotalTotal}]]</a>&nbsp;&nbsp;
					</br><a>本月小計：[[${subtotalThisMonth}]]</a></td>&nbsp;&nbsp;
					<!--顯示小計 -->
				</tr>
				<tr>
					<td>
						<table class="myTable" border="1" cellpadding="6"
							id="tbAccountingNote"
							style="color: #333333; border-collapse: collapse;">
							<tr
								style="color: White; background-color: #507CD1; font-weight: bold;">
								<th scope="col"></th>
								<th scope="col">建立日期</th>
								<th scope="col">分類</th>
								<th scope="col">收 / 支</th>
								<th scope="col">金額</th>
								<th scope="col">標題</th>
								<th scope="col">Act</th>
							</tr>
							<tr th:each="AccountingNoteInterFace:${accountingNoteListTable}">
								<td style="border-right: 1px solid black;"><input
									type="checkbox" id="ckbDelete" name="ckbDelete"
									th:value=${AccountingNoteInterFace.getaccid()}></td>
								<td style="border-right: 1px solid black;"
									th:text="${AccountingNoteInterFace.getcreate_date()}">CreateDate</td>
								<td style="border-right: 1px solid black;"
									th:text="${AccountingNoteInterFace.getcategoryCaption()}">CategoryCaption</td>
								<td style="border-right: 1px solid black;"
									th:text="${AccountingNoteInterFace.getact_type()} == 1 ? '收入' : '支出'">ActType</td>
								<td style="border-right: 1px solid black;"
									th:styleappend="${AccountingNoteInterFace.getact_type()} == 1 ? 'color:Blue;' : 'color:Red;'"
									th:text="${AccountingNoteInterFace.getact_type()} == 1 ?
									 ${AccountingNoteInterFace.getamount()} : '('+${AccountingNoteInterFace.getamount()}+')'">Amount</td>
								<td style="border-right: 1px solid black;"
									th:text="${AccountingNoteInterFace.getcaption()}">Caption</td>
								<td><a
									th:href="@{/AccountingPages/AccountingDetail(accID=${AccountingNoteInterFace.getaccid()})}">Edit</a></td>
							</tr>
						</table> <span id="table_page"></span>
					</td>
				</tr>

			</table>
		</form>
	</div>
</body>