<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<title>UserList</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


</head>
<body>

	<div layout:fragment="content">
		<form method="post" action="#"
			th:action="@{/BackEndPages/UserList?userID=}" id="form1">
			<table>
				<tr>
					<td colspan="2">
						<h3>會員管理</h3> 管理者後台 <svg xmlns="http://www.w3.org/2000/svg"
							width="16" height="16" fill="currentColor"
							class="bi bi-caret-right-fill" viewBox="0 0 16 16">
     <path
								d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
   </svg> 會員管理 <br /> <br />
					</td>
				</tr>
				<tr>
					<td><input type="button" class="btn btn-outline-dark"
						name="btnAdd" value="Add" id="btnAdd"
						onclick="window.location.href='/BackEndPages/UserDetail?userID='" />&emsp;&emsp;

						<input type="submit" class="btn btn-outline-dark" name="btnDel"
						value="Del" id="btnDel" onclick="return confirm('您確定嗎?')" /> <br />
						<br />
			</table>

			<div>
				<table class="myTable" border="1" cellpadding="6" id="tbUserInfo"
					style="color: #333333; border-collapse: collapse;">
					<tr
						style="color: White; background-color: #507CD1; font-weight: bold;">
						<th scope="col"></th>
						<th scope="col">帳號</th>
						<th scope="col">姓名</th>
						<th scope="col">Email</th>
						<th scope="col">等級</th>
						<th scope="col">建立時間</th>
						<th scope="col">Act</th>
					</tr>
					<tr th:each="UserInfoInterface:${userInfoListTable}">
						<td style="border-right: 1px solid black;"><input
							type="checkbox" id="ckbDelete" name="ckbDelete"
							th:value=${UserInfoInterface.getuserid()}></td>
						<td style="border-right: 1px solid black;"
							th:text="${UserInfoInterface.getaccount()}">Account</td>
						<td style="border-right: 1px solid black;"
							th:text="${UserInfoInterface.getname()}">Name</td>
						<td style="border-right: 1px solid black;"
							th:text="${UserInfoInterface.getemail()}">Email</td>
						<td style="border-right: 1px solid black;"
							th:text="${UserInfoInterface.getuser_level()} == 0 ? '管理員' : '一般會員'">UserLevel</td>
						<td style="border-right: 1px solid black;"
							th:text="${UserInfoInterface.getcreate_date()}">CreateDate</td>
						<td><a
							th:href="@{/BackEndPages/UserDetail(userID=${UserInfoInterface.getuserid()})}">Edit</a></td>
					</tr>
				</table>
				<br /> <br /> <span id="pager"></span>
			</div>
		</form>
	</div>

</body>